span.header {
    cursor: pointer;
}

span.filter {
    cursor: pointer;
}

span.header {
    cursor: pointer;
}

th span.sort.asc:before {
    color: blue;
    content: '▲';
}

th span.sort.desc:before {
    color: blue;
    content: '▼';
}